---
import Layout from '../layouts/Layout.astro';
import { getTranslations, type Translations } from '../lib/i18n/index';
import Team from '../components/Team.astro';
import JoinTeam from '../components/JoinTeam.astro';

const translations: Translations = getTranslations();
---

<Layout title="Our Team" translations={translations}>
  <div class="mil-inner-banner">
    <div class="mil-banner-content mil-up">
      <div class="mil-animation-frame">
        <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
      </div>
      <div class="container">
        <ul class="mil-breadcrumbs mil-mb-60">
          <li><a href="/">{translations.navigation.home}</a></li>
          <li><a href="/team">Team</a></li>
        </ul>
        <h1 class="mil-mb-60">Meet <span class="mil-thin">Our</span><br /> Creative <span class="mil-thin">Team</span></h1>
        <a href="#team" class="mil-link mil-dark mil-arrow-place mil-down-arrow"><span>Our team</span></a>
      </div>
    </div>
  </div>

  <Team translations={translations} />
  <JoinTeam translations={translations} />
</Layout>
