---
interface Props {
  translations: any;
}

const { translations } = Astro.props;
---
<section class="mil-soft-bg">
  <div class="container mil-p-120-120">
    <div class="row">
      <div class="col-lg-10">
        <span class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up">
          Looking to join our team? We're always looking for <br /> talented individuals to help us build amazing software.
        </span>
      </div>
    </div>
    <div class="mil-center">
      <h2 class="mil-up mil-mb-60">
        Ready to join our <span class="mil-thin">amazing</span><br /> team? <span class="mil-thin">We're hiring!</span>
      </h2>
      <div class="mil-up">
        <a href="/contact" class="mil-button mil-arrow-place"><span>Contact us</span></a>
      </div>
    </div>
  </div>
</section>
