---
interface Partner {
  logo: string;
  href: string;
  width?: string;
  alt?: string;
}

interface Props {
  partners: Partner[];
  padding?: string;
}

const {
  partners = [],
  padding = '80px 0'
} = Astro.props;
---

<!-- partners -->
<div data-section-theme="light" style={`padding: ${padding};`}>
  <div class="swiper-container tria-infinite-show tria-up">
    <div class="swiper-wrapper tria-partner-wrapper">
      {partners.map((partner) => (
        <div class="swiper-slide">
          <a href={partner.href} class="tria-partner-frame" style={`width: ${partner.width || '60px'};`}>
            <img src={partner.logo} alt={partner.alt || 'logo'} />
          </a>
        </div>
      ))}
    </div>
  </div>
</div>

<style>
  .tria-partner-wrapper {
    display: flex;
    align-items: center;
  }
  .tria-partner-wrapper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
<!-- partners end -->
