---

---

<!-- partners -->
<div class="tria-soft-bg" data-section-theme="light">
  <div class="container tria-p-0-120">
    <div class="swiper-container tria-infinite-show tria-up">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#." class="tria-partner-frame" style="width: 60px;"
            ><img src="/assets/img/partners/1.svg" alt="logo" /></a
          >
        </div>
        <div class="swiper-slide">
          <a href="#." class="tria-partner-frame" style="width: 100px;"
            ><img src="/assets/img/partners/2.svg" alt="logo" /></a
          >
        </div>
        <div class="swiper-slide">
          <a href="#." class="tria-partner-frame" style="width: 60px;"
            ><img src="/assets/img/partners/1.svg" alt="logo" /></a
          >
        </div>
        <div class="swiper-slide">
          <a href="#." class="tria-partner-frame" style="width: 100px;"
            ><img src="/assets/img/partners/2.svg" alt="logo" /></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- partners end -->
