---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>{title} - Tria</title>
		
		<link rel="stylesheet" href="/css/plugins/bootstrap-grid.css" />
		<link rel="stylesheet" href="/css/plugins/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/plugins/swiper.min.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/responsive.css" />
	</head>
	<body>
		<slot />
		
		<!-- jQuery -->
		<script src="/js/plugins/jquery.min.js" is:inline></script>
		<!-- swup js -->
		<script src="/js/plugins/swup.min.js" is:inline></script>
		<!-- swiper js -->
		<script src="/js/plugins/swiper.min.js" is:inline></script>
		<!-- fancybox js -->
		<script src="/js/plugins/fancybox.min.js" is:inline></script>
		<!-- gsap js -->
		<script src="/js/plugins/gsap.min.js" is:inline></script>
		<!-- scroll smoother -->
		<script src="/js/plugins/smooth-scroll.js" is:inline></script>
		<!-- scroll trigger js -->
		<script src="/js/plugins/ScrollTrigger.min.js" is:inline></script>
		<!-- scroll to js -->
		<script src="/js/plugins/ScrollTo.min.js" is:inline></script>
		<!-- main scripts -->
		<script src="/js/script.js" is:inline></script>
		<script src="/js/main.js" is:inline></script>
	</body>
</html>
